@import "../node_modules/uikit/src/less/uikit.theme.less";

body {
    font-family: 'Source Sans Pro' !important;
    font-weight: 200 !important;
}

.nav-button {
    border-radius: 5% !important;
    // background-color: #7644EA !important;
    color: white !important;
    margin-top: 20% !important;
    padding: 10px !important;
    height: 60% !important;
}

.shadow {
    -webkit-box-shadow: 0px 0px 41px 2px rgba(212,208,212,0.54);
    -moz-box-shadow: 0px 0px 41px 2px rgba(212,208,212,0.54);
    box-shadow: 0px 0px 41px 2px rgba(212,208,212,0.54);
}

.contact-info {
    overflow: hidden;
}

.chat-total-ui {
    border-radius: 15px;
    height: 800px;
}

.chat-names {
    height: 100%;
}

.chat-nav {
    margin: 10px;
    border-style: none;
    height: calc(~"75vh - 120px");
    overflow-y: scroll;
}

.chat-list-nav {
    border-radius: 6px;
    border-style: none;
    height: calc(~"69vh");
    overflow-y: scroll;
}

.chat-scroll {
    border-style: none;
    height: calc(~"75vh - 73px");
    overflow-y: scroll;
    overflow-x: hidden;
}

.default-color {
    color: white;
    text-decoration: none !important;
    
}

.default-color:hover {
    color: white;
    text-decoration: none !important;
}

.dynamic-sidebar {
    position: relative;
    height: 100%;
}

.group-chat-nav {
    border-style: none;
    height: calc(~"75vh - 190px");
    overflow-y: scroll;
    margin: 10px;
}

.profile-bar {
    padding: 8px;
    height: 42px;
}

.round-box {
    border-radius: 999px;
}

.sidebar {
    border-radius: 15px 0px 0px 15px !important;
}

.sidebar-grad-back {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left-chat {
    border-radius: 15px;
    padding: 5px 15px 10px 15px;
    display: block;
    overflow: auto;
    height: auto;
    width: auto;
    max-width: 400px;
    margin: 2px;
    float: left;
    clear:both;

    background: #6441A5;

    color: white;

}

.right-chat {
    border-radius: 15px;
    padding: 5px 15px 10px 15px;
    display: block;
    overflow: auto;
    height: auto;
    width: auto;
    max-width: 400px;
    margin: 2px;
    float: right;
    clear:both;

    background: rgb(255, 255, 255);
}

.not-show {
    display: none;
}


.topbar-grad-back {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 20px -6px rgba(212,208,212,0.54);
	   -moz-box-shadow: 0 8px 20px -6px rgba(212,208,212,0.54);
	        box-shadow: 0 8px 20px -6px rgba(212,208,212,0.54);
}
