<template name="primary">
    <nav class="uk-navbar uk-margin-small-top uk-margin-right uk-margin-small-bottom uk-margin-left" uk-navbar>
        <div class="uk-navbar-left uk-width-1-2">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <div class="uk-width-1-4">
                        <img src="logo.png">
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">{{> atNavButton}}</li>
            </ul>            
        </div>
    </nav>
    <body background="/public/back.png">
        <div id="content-container">
            {{> Template.dynamic template=main}}
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</template>
