<template name="sign-in">
    <div class="uk-align-center uk-width-1-4 uk-margin-top uk-flex-center">
        <div class="uk-align-center uk-width-1-6">
            <img src="logo-small.png" href="/">
        </div>
        {{> atForm state='signIn'}}
    </div>
</template>
