<template name="override-at-pwd-form-button">
    <button type="submit" class="uk-button uk-button-primary uk-margin at-btn submit {{submitDisabled}}" id="at-btn">
        {{buttonText}}
    </button>
</template>
