<template name="override-at-text-input">
    <div class="{{#if isValidating}}validating{{/if}} {{#if feedback}}has-feedback{{/if}}">
        {{#if showLabels}}
        <label for="at-field-{{_id}}">
        {{displayName}} {{#unless required}}{{optionalText}}{{/unless}}
      </label> {{/if}}
        <input class="uk-form-width-large uk-input uk-margin-small {{#if hasError}}uk-form-danger{{/if}} {{#if hasSuccess}}uk-form-success{{/if}}" type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}" autocapitalize="none"
            autocorrect="off"> {{#if hasIcon}}
        <span class="{{iconClass}}"></span> {{/if}} {{#if hasError}}
        <span>{{errorText}}</span> {{/if}}
    </div>
</template>

