<template name="override-at-sign-in-link">
    <div class="at-signin-link">
        <p>
            {{preText}}
            <a href="{{signInLink}}" id="at-signIn" class="uk-text-capitalize at-link at-signin {{disabled}}">{{linkText}}</a>
            {{suffText}}
        </p>
    </div>
</template>
