<template name="override-at-form">
    {{#unless hide}}
    <div class="card uk-padding uk-card-default uk-align-center uk-text-center uk-margin at-form">
        {{#if showTitle}} 
            {{> atTitle}} 
        {{/if}} 
        
        {{#if showOauthServices}} 
            {{> atOauth}}
        {{/if}} 
        
        {{#if showServicesSeparator}} 
            {{> atSep}} 
        {{/if}} 
        
        {{#if showError}} 
            {{> atError}}
        {{/if}} 
        
        {{#if showResult}}
            {{> atResult}}
        {{/if}}
        
        {{#if showMessage}}
            {{> atMessage}}
        {{/if}} 
        
        {{#if showPwdForm}}
            {{> atPwdForm}}
        {{/if}} 
        
        {{#if showTermsLink}}
            {{> atTermsLink}}
        {{/if}}
        
        {{#if showSignInLink}}
            {{> atSigninLink}}
        {{/if}}
        
        {{#if showSignUpLink}}
            {{> atSignupLink}}
        {{/if}}
        
        {{#if showResendVerificationEmailLink}}
            {{> atResendVerificationEmailLink}}
        {{/if}}
    </div>
    {{/unless}}
</template>
