<template name="add-group-template">
    <div class="uk-animation-slide-left-small uk-animation-fast">
        <div class="row" style="margin: 0px 5px 5px 5px;">
            <button class="default-color col-2 uk-button uk-button-link uk-align-left" style="padding: 20px 10px 5px 0px ; margin: 0px;" id="back-button" uk-icon="icon: chevron-left; ratio: 1"></button>    
            <span class="default-color col-10 uk-text-right" style="padding: 20px 15px 5px 0px; margin: 0px; overflow: hidden; font-size: 25px; font-weight: 300;">{{userData.profile.name}}</span>
        </div>
        <div class="uk-align-center" style="padding: 0px; margin: 0px;">
            <form class="uk-width-auto uk-align-center uk-search uk-search-default" style="margin: 10px;">
                <span uk-search-icon style="color:white"></span>
                <input id="user-search" class="round-box uk-search-input" style="color:white;" type="text" placeholder="">
            </form>
        </div>
        <ul class="group-chat-nav uk-nav uk-panel">
            {{#each contact in foundContacts}}
            <li>
                <div class="uk-card uk-card-small uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-4-5">
                                <span class="uk-margin-remove-bottom" style="font-size: 18px; font-weight: 200;">{{contact.profile.name}}</span>
                                <p class="uk-text-meta uk-margin-remove-top" style="font-size: 12px; font-weight: 600;">
                                    {{#each element in contact.emails}}
                                        {{element.address}}
                                    {{/each}}
                                </p>
                            </div>
                            <div class="uk-width-1-5">
                                <button class="add-contact-button uk-button uk-button-link" uk-icon="icon:plus" id="a-{{contact._id}}"></button>
                                <button class="del-contact-button uk-button uk-button-link not-show" uk-icon="icon:minus" id="d-{{contact._id}}" style="color: red;"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <form class="uk-margin-small">
            <input class="round-box uk-input uk-align-center uk-margin-small-top uk-margin-small" style="width: 90%;" type="text" placeholder="Enter Group Name" id="new-group">
            <button class="uk-align-center round-box uk-button uk-button-primary" style="margin-top: 0px;" id="create-new-group">Create Group</button>
        </form>
    </div>
</template>
