<template name="broadcast-template">
    <div class="uk-animation-slide-left-small uk-animation-fast">
        <div class="row" style="margin: 0px 5px 5px 5px;">
            <button class="default-color col-2 uk-button uk-button-link uk-align-left" style="padding: 20px 10px 5px 0px ; margin: 0px;"
                id="back-button" uk-icon="icon: chevron-left; ratio: 1"></button>
            <span class="default-color col-10 uk-text-right" style="padding: 20px 15px 5px 0px; margin: 0px; overflow: hidden; font-size: 25px; font-weight: 300;">{{userData.profile.name}}</span>
        </div>
        <form class="uk-margin-small">
            <input class="round-box uk-input uk-align-center uk-margin-small-top uk-margin-small" style="width: 90%;" type="text" placeholder="Enter Broadcast Message" id="new-broadcast">
            <button class="uk-align-center round-box uk-button uk-button-primary" style="margin-top: 0px;" id="broadcast-button">Broadcast</button>
        </form>
    </div>
</template>
