<template name="chat-view-template">
    <div class="">
        <div class="row one-edge-shadow" style="background-color: #fefefe;margin-bottom: 5px; border-radius: 0px 15px 0px 0px;">
            <span style="color: #0a0a0a; font-size: 30px; font-weight: 300; margin: 15px 0px 10px 20px;">{{chatTitle}}</span>
        </div>
        <div class="chat-scroll">
            <ul class="uk-nav">
                {{#each msg in chatMessages}}
                <li>
                    <div class="row">
                        <div class="col">
                            <div class="{{ getClass msg.sender }} chat-messages uk-shadow-big" id="{{chat.id}}">
                                <span style="font-size: 14px; font-weight:500;">{{getSenderName msg.sender}}: </span>
                                <br/>
                                {{msg.messageString}}
                            </div>
                        </div>
                    </div>                   
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="text-submit uk-margin-small-top uk-margin-small-bottom uk-align-center">
            <form>
                <div class="row">
                    <div class="col-11">
                        <input class="round-box uk-input" style="padding-right: 0px;" type="text" placeholder="Type some text..." id="chat-text">
                    </div>
                    <div class="col">
                        <button class="round-box uk-button uk-button-link" style="margin-top: 2px;" uk-icon="icon:chevron-right; ratio: 1.85;" id="send-text"></button>
                    </div>
                </div>
                
                
            </form>
        </div>
    </div>
</template>
