<template name="chat-list-template">
    <div class="uk-animation-slide-right-small uk-animation-fast">
    <div class="row" style="margin: 0px 5px 5px 5px;">
        <button class="default-color col-2 uk-button uk-button-link uk-align-left" style="padding: 20px 10px 5px 0px ; margin: 0px;" uk-icon="icon: more-vertical; ratio: 1"></button>
        <div uk-dropdown="mode: click; boundary: #chat-list-bar">
            <ul class="uk-nav uk-dropdown-nav">
                <li>
                    <button id="add-contact-button" class="uk-button uk-button-link uk-text-capitalize" style="color:black; text-decoration: none;">Add Contact</button>
                </li>
                <li>
                    <button class="uk-button uk-button-link uk-text-capitalize" style="color:black; text-decoration: none;" id="create-group">Create Group</button>
                </li>
                <li>
                    <button class="uk-button uk-button-link uk-text-capitalize" style="color:black; text-decoration: none;" id="broadcast">Broadcast</button>
                </li>
            </ul>
        </div>
    
        <span class="default-color col-10 uk-text-right" style="padding: 20px 15px 5px 0px; margin: 0px; overflow: hidden; font-size: 25px; font-weight: 300;">{{userData.profile.name}}</span>
    </div>
    <div class="uk-align-center" style="padding: 0px; margin: 0px;">
        <form class="uk-width-auto uk-align-center uk-search uk-search-default" style="margin: 10px;">
            <span uk-search-icon style="color:white"></span>
            <input id="contact-search" class="round-box uk-search-input" style="color:white;" type="text" placeholder="">
        </form>
    </div>
    <ul class="chat-list-nav uk-nav" style="margin: 10px">
        {{#each chat in foundChats}}
        <li>
            <div class="chat-names uk-card uk-card-default uk-shadow-small" style="border-radius: 5px; padding: 10px; margin: 2px;" id="{{chat.id}}">
                <span style="pointer-events:none; font-size: 20px; font-weight: 200;">{{chat.title}}</span>
                <br/>
                <span style="pointer-events:none; font-size: 14px; font-weight: 600;">{{chat.lm}}</span>
            </div>
        </li>
        {{/each}}
    </ul>
    </div>
</template>
