<template name="chat-template">
    <div class="container">
        <div class="chat-total-ui shadow row">
            <div class="sidebar side-bar shadow sidebar-grad-back col-3">
                <div class="row">
                    <div class="col" id="chat-list-bar" style="margin: 0px; padding: 0px;">
                        {{> Template.dynamic template=sidebar}}
                    </div>
                </div>
            </div>
            <div class="col-9" style="background-color: #f4f0ff; border-radius: 0px 15px 15px 0px;">
                 {{> Template.dynamic template=mainview}}
            </div>
        </div>
    </div>
</template>
