<template name="user-search-template">
    <div class="uk-animation-slide-left-small uk-animation-fast">
        <div class="row" style="margin: 0px 5px 5px 5px;">
            <button class="default-color col-2 uk-button uk-button-link uk-align-left" id="back-button" style="padding: 20px 10px 5px 0px ; margin: 0px;" uk-icon="icon: chevron-left; ratio: 1"></button>    
            <span class="default-color col-10 uk-text-right" style="padding: 20px 15px 5px 0px; margin: 0px; overflow: hidden; font-size: 25px; font-weight: 300;">{{userData.profile.name}}</span>
        </div>
        <div class="uk-align-center" style="padding: 0px; margin: 0px;">
            <form class="uk-width-auto uk-align-center uk-search uk-search-default" style="margin: 10px;">
                <span uk-search-icon style="color:white"></span>
                <input id="user-search" class="round-box uk-search-input" style="color:white;" type="text" placeholder="">
            </form>
        </div>
        <ul class="chat-nav uk-nav uk-panel">
            {{#each contact in foundContacts}}
            <li>
                <div class="uk-card uk-card-small uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="contact-info uk-width-expand">
                                <span class="uk-margin-remove-bottom" style="font-size: 20px; font-weight: 200;">{{contact.profile.name}}</span>
                                <span class="uk-text-meta uk-margin-remove-top" style="font-size: 12px; font-weight: 600;">
                                    {{#each element in contact.emails}}
                                        {{element.address}}
                                    {{/each}}
                                </span>
                            </div>
                            <div class="uk-width-1-6">
                                <button class="add-contact-button uk-button uk-button-link" uk-icon="icon:plus" id="{{contact._id}}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</template>
